<h5>Listing all the users</h5>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%= u.name %></td>
				<td><%= u.email %></td>
				<td><%= link_to 'Edit', "/users/#{u.id}/edit" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Create new user', 'users/new' %>